.comment-thread {
  padding: 1rem;
  max-width: 600px;
  margin: auto;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  gap: 10px;
}
.comment {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
}
.name-and-time {
  display: flex;
  align-items: center;
  gap: 10px;
}
.name-and-time p {
  margin: 0;
  color: gray;
}
.like-and-reply {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background-color: #ccc;
  margin-right: 10px;
}

.content {
  background: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  width: 500px;
}

.reply-btn {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

.replies {
  margin-left: 70px;
}

.replies {
  border-left: 2px solid #ccc;
  margin-left: 2.5rem;
  padding-left: 1rem;
  margin-top: 1rem;
}
